DATABASE_URL=mysql+pymysql://root:root@db:3306/analise_credito_ia
AI_PROVIDER=<<api_provider>>
AI_MODEL=<<api_model>>
AI_API_KEY=<<api_key>>
MARGEM_CONSIGNAVEL_MAXIMA=30.0
TAXA_JUROS_MINIMA=1.2
TAXA_JUROS_MAXIMA=12.0